# Зависимости Node.js
node_modules/

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Файлы окружения
.env

# Конфиг Replit
.replit

# Каталоги/файлы IDE и ОС
.vscode/
.idea/
.DS_Store
Thumbs.db

# Вывод сборки (если появится)
dist/
coverage/